<div class="col-10 offset-1">
  <br />
  <h1>Generate Reports</h1>
  <br />
  <h3>Users</h3>
  <br />
  <%= link_to 'Create Report', staff_users_path + '.csv', class: 'btn btn-primary' %>
  <br /><br />
</div>
<div class="col-10 offset-1">
  <h3>Requests</h3>
  <br />
  <%= link_to 'Create Report', staff_requests_path + '.csv', class: 'btn btn-primary' %>
  <br /><br />
</div>