@import "bootstrap";

.button-box {
  text-align: center;
  border-style: solid;
  background-color: #0064b1;
  border-color: #0064b1;
  border-radius: 25px;
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
  max-height: 150px;
}