$primary: #0064b1;
@import "bootstrap";

.navbar {
  box-shadow: 0 3px 2px -2px black;
}

.request-box {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  box-shadow: 3px 3px 3px 3px #ccc;
  margin-right: 10px;
}

.facets {
  height: 100%;
  padding-left: 50px;
}

.center {
  text-align: center;
}

.block {
  display: inline-block;
}

.box-shell:hover {
  text-decoration: none;
}